<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>manage elections</title>
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
            <div class="flex justify-center">
                <h3 class="px-12 py-5 text-gray-600">Manage your elections</h3>
            </div>
            <div class="flex justify-center">
                <table class="table-auto">
                    <thead>
                        <tr>
                            <th class ="px-4 py-2">S.NO</th>
                            <th class="px-4 py-2">Election Name</th>
                            <th class="px-4 py-2">Custom String</th>
                            <th class="px-4 py-2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i=0;i<elections.length;i++){ %>
                        <tr>
                            <td class="border px-4 py-2"><%= i+1 %></td>
                            <td class="border px-4 py-2"><%= elections[i].electionName %></td>
                            <td class="border px-4 py-2"><%= elections[i].customString %></td>
                            <td class="border px-4 py-2">
                                <a href="/admin/elections/<%= elections[i].id %>/edit" class="text-green-700">manage</a>
                                <a href="/admin/elections/<%= elections[i].id %>/delete" class="text-red-700">Delete</a>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>