<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <p class="py-3 font-bold">Manage Your election Here </p>
                <p class="py-3 ">Election Name :<%= election.electionName %></p>
                <p class ="py-1">add a new question <a class="px-2 text-green-600 font-" href="/admin/election/questions/<%= election.id%>">click here</a></p>
                <p class ="py-1">add a new voter <a class = "px -2 text-green-600"href="/admin/election/voters/<%= election.id%>">click here</a></p>
                <div id="publicURL" class="p-3 m-3 border rounded bg-blue-200 hidden"></div>
                <br>
                <button class="bg-green-500 rounded px-3" onclick="launchElection()" <% if (election.status || election.ended) { %>
                    disabled
                <% } %> >Launch Election</button>
                <button class="bg-red-500 rounded px-3" onclick="endElection()" <% if (!election.status || election.ended) { %>
                    disabled
                <% } %>
                    >End Election</button><br>
                <br>
                <div class="hidden" id="ElectionLaunch">
                    <ul class="bg-green-100 rounded border border-green-200 border-2" id="ElectionLaunchul">
                        <li class="text-center hideMe" id="ElectionLaunchli"></li>
                    </ul>
                </div> 
                <div>
                    <div class="hideMe">
                        <% if(messages && messages.error && messages.error.length > 0)  { %>
                            <ul class="bg-red-100 rounded border border-red-200 border-2 hideMe">
                                <% for(var i=0; i<messages.error.length; i++) { %>
                                        <li class="text-center hideMe"> <%= messages.error[i] %></li>
                                <% } %>
                            </ul>
                        <% } %>
                        <% if(messages && messages.success && messages.success.length > 0)  { %>
                            <ul class="bg-green-100 rounded border border-green-200 border-2 hideMe">
                                <% for(var i=0; i<messages.success.length; i++) { %>
                                        <li class="text-center hideMe"> <%= messages.success[i] %></li>
                                <% } %>
                            </ul>
                        <% } %>
                        <% if(messages && messages.info && messages.info.length > 0)  { %>
                            <ul class="bg-blue-100 rounded border border-blue-200 border-2 hideMe">
                                <% for(var i=0; i<messages.info.length; i++) { %>
                                        <li class="text-center hideMe"> <%= messages.info[i] %></li>
                                <% } %>
                            </ul>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <script>
            
            document.addEventListener("DOMContentLoaded", function(event) {
                if (<%= election.status %>){
                    document.getElementById("questionButton").classList.add("hidden")
                }
                if (<%= election.ended %>){
                    document.getElementById("questionButton").innerText = "View Questions"
                    document.getElementById("votersButton").innerText = "View Voters"
                    document.getElementById('resultButton').innerText = "View Results"
                }
                if (<%= election.status %> || <%= election.ended %>) {
                    document.getElementById("publicURL").classList.remove('hidden')
                    const urlString = "<%= election.urlString %>" 
                    if (urlString){
                        const link = `${location.protocol}//${location.host}/election/<%= election.urlString %>`
                        document.getElementById("publicURL").innerHTML = `<span>Public URL: </span><a href="${link}" class='text-xl font-semibold underline'>${link}</a>`;
                    }
                    else {
                        console.log("No url string", <%= election.id %>)
                        const link = `${location.protocol}//${location.host}/election/<%= election.id %>`
                        document.getElementById("publicURL").innerHTML = `<span>Public URL: </span><a href="${link}" class='text-xl font-semibold underline'>${link}</a`;
                    }
                }
            });
            function launchElection() {
                // document.getElementById("questionButton").classList.add("hidden")
                console.log("Launching Election")
                var token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                fetch('/admin/election/launch/<%= election.id %>', {
                    method: 'PUT',
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body:JSON.stringify({
                        _csrf: token
                    })
                })
                .then(async (res) => {
                    console.log(res.status)
                    let body = await res.json()
                    console.log(body)
                    if (res.ok && !body.success){
                        console.log(body.message)
                        showSucess(body.message)
                        await new Promise(r => setTimeout(r, 1500));
                        window.location.reload()
                    }
                    else if (res.ok){
                        showSucess("Launching Election launched sucessfully")
                        await new Promise(r => setTimeout(r, 1500));
                        window.location.reload()
                    }
                })
                .catch((err) => {
                    console.log(err)
                })
            }
            function endElection() {
                // document.getElementById("questionButton").classList.remove("hidden")
                console.log("Stoping Election")
                var token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                fetch('/admin/election/stop/<%= election.id %>', {
                    method: 'PUT',
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        _csrf: token
                    })
                })
                .then(async (res) => {
                    let body = await res.json()
                    if (res.ok && body.success){
                        showSucess("Election ended sucessfully")
                        await new Promise(r => setTimeout(r, 1500));
                        window.location.reload()
                    }
                    else if (res.ok && !body.success){
                        showSucess(body.message)
                        await new Promise(r => setTimeout(r, 1000));
                        window.location.reload();
                    }
                })
                .catch((err) => {
                    console.log(err)
                })
            }
            function showSucess(success) {
                document.getElementById('ElectionLaunchli').innerText = success;
                document.getElementById('ElectionLaunch').classList.remove('hidden')
                setTimeout(() => {
                    document.getElementById('ElectionLaunch').classList.add('hidden')
                }, 3000);
            }
        </script>
        </div>
    </div>
</body>
</html>