<div class="flex items-center">
  <h5 class="text-xl text-gray-600"><%= title %></h5>
  <span id="count-<%= id  %>" class="bg-gray-300 ml-2 px-2 rounded text-sm">
      <%= elections.length %>
  </span>
</div>

<table class="w-full text-sm text-left text-gray-500">
        <tr>
            <th scope="col">
                Election Name
            </th>
            <th scope="col">
                  urlString
            </th>
            <th scope="col">
                Action
            </th>
            <th scope="col">
              Ended
          </th>
          <th scope="col">
            MANAGE
          </th>
        </tr>
    <tbody>
      <% elections.forEach(election => { %>
        <tr class="bg-white border-b">
          <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
            <%= election.electionName %>
          </th>
          <td class="py-4 px-6">
              <%= election.urlString %>
          </td>
          <td class="py-4 px-6">
              <a href="#" class="font-medium text-blue-600 hover:underline" onclick="deleteElection(<%= election.id %>)">Delete</a>
          </td>
          <td class="py-4 px-6">
            <% if (!election.ended) { %>
              not ended
            <% } else { %>
              ended
            <% } %>
          </td>
          <td>
            <a href="/admin/election/<%= election.id %>" class="font-medium text-blue-600 hover:underline">Manage</a>
          </td>
      </tr>
      <% }) %>
    </tbody>
</table>