<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title><%= title %></title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <h2 class="text-2xl py-5">Please Answer all Questions</h2>
        </div>
        <div class="col-start-5">
            <a href="/voter/logout" class="text-green-600 font-medium">Signout</a>
        </div>
        <div class="col-start-3 col-span-2">
            <form id="pollForm" method="post" action="/voter/election" class="space-y-3">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" name="electionId" value="<%= electionId %>">
                <% for (var i = 0; i < questions.length; i++) { %>
                    <div class="border rounded-lg border-4">
                        <div class="bg-green-200 border">
                            <h3 class="text-xl text-black-900 break-words"><%= i+1 %>.&nbsp;<%= questions[i].title %></h3>
                            <h4 class="pl-5 break-words"><%= questions[i].desc %></h4>
                            <input type="hidden" name="questions" value="<%= questions[i].id %>">
                        </div>
                        <div class="m-5">
                            <div class="py-5 space-y-5 ml-8">
                                <% for (var j = 0; j < questions[i].choice.length; j++) { %>
                                    <div class="bg-green-200 rounded">
                                        <input type="radio" name="choice<%= i %>" value="<%= questions[i].choice[j].id %>" id="<%= questions[i].choice[j].id %>">
                                        <label class="w-full break-words" for="<%= questions[i].choice[j].id %>" name="choice<%= i %>"><%= questions[i].choice[j].desc %></label>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% } %>
                <button type="submit" class="text-black-700 bg-green-600 font-medium rounded px-5 py-2">Submit</button>
            </form>
            <br><br>
            <div class="duration-500">
                <% if(messages && messages.error && messages.error.length > 0)  { %>
                    <ul class="bg-red-100 rounded border border-red-200 border-2 duration-500">
                        <% for(var i=0; i<messages.error.length; i++) { %>
                                <li class="text-center duration-500"> <%= messages.error[i] %></li>
                        <% } %>
                    </ul>
                <% } %>
                <% if(messages && messages.success && messages.success.length > 0)  { %>
                    <ul class="bg-green-100 rounded border border-green-200 border-2 duration-500">
                        <% for(var i=0; i<messages.success.length; i++) { %>
                                <li class="text-center duration-500"> <%= messages.success[i] %></li>
                        <% } %>
                    </ul>
                <% } %>
                <% if(messages && messages.info && messages.info.length > 0)  { %>
                    <ul class="bg-blue-100 rounded border border-blue-200 border-2 duration-500">
                        <% for(var i=0; i<messages.info.length; i++) { %>
                                <li class="text-center duration-500"> <%= messages.info[i] %></li>
                        <% } %>
                    </ul>
                <% } %>
            </div>
        </div> 
        </div>
    </div>   
    <script>
        document.getElementById("pollForm").addEventListener("submit", function(event) {
            var questions = document.querySelectorAll("h3");
            var answers = document.querySelectorAll("input[type=radio]:checked");
            if (questions.length != answers.length) {
                event.preventDefault();
                alert("Please answer all questions");
            }
        });
    </script>
</body>
</html>